{% extends 'base.html' %}
{% block title %}Paid Features{% endblock %}
{% block content %}
<center>
	<table style="text-align: center height: 100px; width: 500px; margin-top: 50px;" border="1px solid black">
		<tr>
			<td colspan = "2" style="text-align: center;height: 50px;"><b>Price Details</b></td>
		</tr>
		
		<tr>
			<td style="height: 30px;text-align: center;"><b>Price for one Prediction</b></td>
			<td style="text-align: center;">0.67 USD</td>
		</tr>
		<tr>
			<td style="height: 30px;text-align: center;"><b>Price for 5 predictions</b></td>
			<td style="text-align: center;">2.70 USD</td>
		</tr>
		<tr>
			<td style="height: 30px;text-align: center;"><b>Price for 10 predictions</b></td>
			<td style="text-align: center;">6.75 USD</td>
		</tr>
		
	</table>

<h1 style="margin-top: 50px; color:#0073B7;"><b>Why you believe in these predictions??</b></h1>
<h3>We made a machine learning model to predict the reults of the match</h3>
<h3>we build various classifiers like<p style="color:#0073B7;"> Random Forest Classifier, Decision Tree Classifier, and SVM classifier</p> and select the best model which is giving high accuracy</h3>
<h2 style="color:red"><b>BONUS</b></h2><h3>If our predicted result is not correct then the next prediction is absolutely FREE!!!!</h3>
</center>
{% endblock %}